.dataqlick-logo {
    background: url(images/logo.png) center center no-repeat;
    width: 39px;
    height: 39px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.dataqlick-step {
    display: inline-block;
    vertical-align: text-bottom;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    font-size: 15px;
    background: #F42800;
    color: white;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;

}
.dataqlick-title {
    vertical-align: middle;
    text-transform: uppercase;
}

#dataqlick_general-head {
/*     text-align: center; */
}